[build]
  command = "cd hotel-management/frontend && npm install && npm run build"
  publish = "hotel-management/frontend/build"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[build.environment]
  NODE_VERSION = "18"

